body {
  display: block;
  margin: 0;
  }
header {
  display: flex;
}
nav {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  z-index: 10;
  display: block;
}
ul {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  height: 80px;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

li {
  padding: 20px;
}

li.img {
}

li.logo {
  color: MediumAquamarine;
  margin-right: auto;
  justify-content: flex-start;
  align-content: center;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

h2 {
  font-family: Georgia;
  font-size: 25px;
  color: black;
}
h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
div.photomain {
  background-image: url(../images/img-story-main.png);
  height: 525px;
  background-repeat: no-repeat;
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  flex-grow: 4;
  width: 629px;

}
.sidestories {
  display: flex;
  flex-direction: row;
}
#orca {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
#burger {
  width: 300px;
  display: flex;
  flex-direction: column;
}
div {

}
div.photo3 {
  background-image: url(../images/img-story-3.png);
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  display: flex;
  flex: auto;
  flex-direction: column;

}
div.photo2 {
  background-image: url(../images/img-story-2.png);
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  display: flex;
  flex: auto;
  flex-direction: column;
  margin-right: 20px;

}
div.photo1 {
  background-image: url(../images/img-story-1.png);
  height: 300px;
  background-repeat: no-repeat;
  display: flex;
  flex: auto;

}
div.headlines {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;

}
#mainheadline {
  font-size: 40px;
  padding-left: 8px;
  text-align: left;
  flex:auto;
}
#centercopy {
  padding: 0 8px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}
.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  z-index: 5;
  margin-top: 120px;
  margin-bottom: 30px;
}

.column.large {
  width: 630px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  margin-right: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.column.medium {
  width: 300px;
  display: flex;
  margin-right: 20px;
}

.column.small {
  width: 240px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-direction: column;
  align-items: stretch;
}
.sidebar {
  padding: 10px 0px 10px 15px;
  background-color: WhiteSmoke;
  border-bottom: 1px solid black;
  width: 220px;
  font-size: 12px;
  font-family: Verdana;
  color: DimGray;
  display: inline-flex;
  margin: 0;
}
footer {
  display: flex;
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 80px;
}
footer.div {
  padding: 0px 10px;
}
.btmnav {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 0 20px;
  margin-top: 30px;
  align-self: center;

}
